<div class="container">
  <div class="row mt-5 back_ground_image">
    <div class="mx-auto">
      <div class="col-lg-12 mt-3">
        <p>ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でもない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 offset-1 mt-5">
      <h1>新着商品</h1>
    </div>
  </div>

  <div class="flex">
    <% @items.each do |item| %>
    <div class="item_box">
      <div class="item_image">
        <%= attachment_image_tag item, :image, size: "300x300" %>
      </div>
      <div class="item_info">
        <%= link_to item.name, item_path(item.id) %>
        <div>￥<%= item.price.to_s(:delimited) %></div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-lg-2 offset-10 mt-3">
      <%= link_to "すべての商品を見る＞", items_path %>
    </div>
  </div>

</div>